<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <ul>
        {% for i in name %}
            <li>Character {{ forloop.counter0 }}: {{ i }}</li>
        {% endfor %}
    </ul>
</body>
</html>