<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p> {{ number }}</p>
    {% if number % 2 == 0 %}
        <p>{{ number }} is even</p>
    {% else %}
        <p>{{ number }} is odd</p>
    {% endif %}
</body>
</html>